* {
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul, li{
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

select {
  border: none;
  padding: 5px;
  background: none;
  color: white;
  font-size: medium;
}

select option {
  position: absolute;
  background-color: rgb(31, 31, 31);
  font-size: medium;
}

.header {
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;

}

.setData {
  border-color: white;
  background-color: inherit;
  color: white;
  cursor: pointer;
  padding: inherit;
}

.pesquisa > div {
  display: block;
  padding: 5px;
}

#listaDeputados > div {
  padding: 5px;
}

#listaPartidos > div {
  padding: 5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.botaoLimpar {
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: black;
  padding: 14px 16px;
  font-size: 17px;
  color: white;
  transition: 0.3s;
}

.botaoLimpar:hover {
  background-color: rgb(46, 46, 46);
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.activeTab {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.itemDeputado, .itemPartido {
  background-color: inherit;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: large;
}

.active, .itemDeputado:hover, .itemPartido:hover{
  background-color: rgb(214, 214, 214);
  color: black;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*Estilizando a barra de busca*/
.inputBusca {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
.botaoPesquisa {
  float: left;
  width: 20%;
  padding: 10px;
  background: #fc3a3a;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.botaoPesquisa:hover {
  background: #f32e2e;
}

/* Clear floats */
form.pesquisa::after {
  content: "";
  clear: both;
  display: table;
}

.fotoDeputado > img {
  width: 200px;
  height: auto;
}

.card.legendaFoto {
  max-width: 100%;
}

.card {
  max-width: 20%;
}

.infos {
  display: flex;
  width: 100%;
  align-items: top;
}

.tabelaDespesas table {
  margin: 0 auto;
}

th, td {
  padding: 20px;
}




